.bodyimage {
  height: 100vh;
  background-size: cover;
  width: auto;
  background-repeat: no-repeat;
  background-image: url('../assets/background.png');
  background-position: 0 15%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.65);
}

.buyer-seller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.48);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.3s
}

.buyer-seller:hover {
  background: rgba(0, 0, 0, 0.68);
}

.table-dark th,
.table-dark thead th {
  background: #185077;
}